body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

img {
  max-width: 66.6667vw; /* 屏幕的三分之二宽度 */
  height: 33.3333vh; /* 屏幕的三分之一高度 */
  display: block;
  margin: 0 auto; /* 水平居中 */
}

body {
  background-image: url("img/scenic_view.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}